.container  {
   display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(120deg, #ff9966, #66ccff, #66ff99);
    background-size: 300% 300%;
    animation: gradientMove 12s ease infinite;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
